@font-face {
  font-family: "zip"; /* Project id 1969228 */
  src: url('iconfont.woff2?t=1626345513353') format('woff2'),
       url('iconfont.woff?t=1626345513353') format('woff'),
       url('iconfont.ttf?t=1626345513353') format('truetype');
}

.zip {
  font-family: "zip" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.zipdown:before {
  content: "\e613";
}

.zipzuoyoufanzhuan_huaban1:before {
  content: "\e65f";
}

.zipchuizhifanzhuan_huaban1:before {
  content: "\e660";
}

.zipnishizhenxuanzhuan:before {
  content: "\e65a";
}

.zipshunshizhenxuanzhuan:before {
  content: "\e65c";
}

.zipprev:before {
  content: "\e659";
}

.zipnext:before {
  content: "\e667";
}

.zipclose:before {
  content: "\e678";
}

.zipsuoxiao:before {
  content: "\e604";
}

.zipfangda:before {
  content: "\e605";
}

.zipfull_screen:before {
  content: "\e673";
}

.zipadapt:before {
  content: "\e674";
}

